<mat-card class="rightpanel-card mat-elevation-z2">
    <mat-card-content>
        <h4 class="rightdivtext">
            myself
        </h4>
    </mat-card-content>
    <mat-card-content>
        <div class="authorimagecontainer">
            <img class="authorimage" mat-card-avatar src="../../../assets/IMG_20190629_174313834.jpg" alt="my_image">
            <h5>Robin Mahato</h5>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h4 class="rightdivtext">
            Follow Me
        </h4>
    </mat-card-content>
    <mat-card-content>
        <a href="https://www.facebook.com/rabindramanohar1" target="_blank"><i class="fa fa-facebook-square"
                aria-hidden="true"></i></a>
        <a href="https://twitter.com/rabindramanohar" target="_blank"><i class="fa fa-twitter-square"
                aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/rabindra-mahato-9a59307b/" target="_blank"><i class="fa fa-linkedin-square"
                aria-hidden="true"></i></a>
        <a href="https://github.com/Rabindramanohar" target="_blank"><i class="fa fa-github-square"
                aria-hidden="true"></i></a>               
    </mat-card-content>
</mat-card>